* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.bgimg {
  position: relative;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  object-position: center;
}

.container {
  padding: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  gap: 30px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: monospace;
}

.container h1 {
  font-family: "Kanit", sans-serif;
  font-weight: 700;
  letter-spacing: 2px;
  font-style: oblique;
  font-size: 1.6em !important;
  color: black;
  background-color: #dbb66a;
  padding: 2px;
  border: 1px solid black;
}

.container h3 {
  font-size: 1.4em !important;
  font-weight: 800;
  background-color: #dbb66a;
  padding: 2px;
  border: 1px solid black;
}
.pushable {
  position: relative;
  background: transparent;
  padding: 0px;
  border: none;
  cursor: pointer;
  outline-offset: 4px;
  outline-color: deeppink;
  transition: filter 250ms;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.shadow {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #dbb66a;
  border-radius: 8px;
  filter: blur(2px);
  will-change: transform;
  transform: translateY(2px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

.edge {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 8px;
  background: linear-gradient(
    to right,
    #dbb66a 0%,
    #dbb66a 8%,
    #dbb66a 92%,
    #dbb66a 100%
  );
  border: 1px solid black;
}

.front {
  display: block;
  position: relative;
  border-radius: 8px;
  background: #dbb66a;
  padding: 16px 32px;
  color: black;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 1rem;
  transform: translateY(-4px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
  border: 1px solid black;
  font-family: "Kanit", sans-serif;
  font-style: oblique;
  background-color: #dbb66a;
}

.pushable:hover {
  filter: brightness(110%);
}

.pushable:hover .front {
  transform: translateY(-6px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.pushable:active .front {
  transform: translateY(-2px);
  transition: transform 34ms;
}

.pushable:hover .shadow {
  transform: translateY(4px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.pushable:active .shadow {
  transform: translateY(1px);
  transition: transform 34ms;
}

.pushable:focus:not(:focus-visible) {
  outline: none;
}
